
<div class="row" ng-controller="ListViewCtrl">
    <div class="medium-5 small-centered columns">
        <div class="subheader">List Data</div>
        <table>
            <thead>
                <tr>
                    <th>image</th>
                    <th>Day</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Conditions</th>
                    <th>Wind</th>
                    <th>Humidity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="data in getTenDayForecast()">
                    <!-- NOTE use of ng-src - from docs "Using Angular markup like {{hash}} in a src attribute doesn't work right"-->
                    <td><img ng-src="{{data.icon_url}}"></td>
                    <td>{{data.date.weekday}}</td>
                    <td>{{data.high.fahrenheit}}</td>
                    <td>{{data.low.fahrenheit}}</td>
                    <td>{{data.conditions}}</td>
                    <td>{{data.avewind.dir}} {{data.avewind.mph}}</td>
                    <td>{{data.avehumidity}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>