<!-- ng-show directive to control visibility, when the errorMsg is populated it will show -->
<div data-alert class="alert-box radius" ng-show="errorMsg">{{errorMsg}}</div>

<div class="row">
    <div class="medium-5 small-centered columns">
        <!-- NOTES: ng-submit directive will prevent the default submit adn perform validation see 'required' directive.
        Also note that you can hit enter to perform the submit-->

        <div class="subheader">{{ctrl.title}}</div>

        <form ng-submit="authenticate()">
            <input type="text" ng-model="username" required />

            <input type="password" ng-model="password" required />

            <button type="submit" class="button expand radius round">Login</button>
        </form>

    </div>
</div>